.div1,
.div2,
.div3 {
    
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
}
.div1 {
 background-color: mediumvioletred;
}
.div2 {
    background-color: rebeccapurple;
}
.div3 {
    background-color: saddlebrown;
}
.div1 div {
    width: 30px;
    height: 30px;
    background-color: seashell;
}
