ul {
  color: blue;
}
body {
  color: green;
}
.mylist {
  color: red;
  margin: 50px;
}

.mylist li {
  margin: 5px;
}

ul,
ol {display: inline-block;
}

.mylist .css {
  color: blue;
}

.mylist.list {
  color: green;
}
.mylist li:nth-of-type(3) {
      color: yellow;

}
body p.css {
    font-size: 20px;
}

/* #myid {
         color: lightblue;
        } */
