.item {
  width: 50px;
  min-height: 50px;
  background-color: blue;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: space-evenly;
}
.item:nth-of-type(4) {
  align-self: flex-start;
}
.item:nth-of-type(1) {
  order: 2;
}
.item:nth-of-type(3) {
  align-self: stretch;
  order: 1;
}
/* .container > *:not(:last-child){
    margin-bottom: 5px;

} */
/* body > div (darnuma arajin divin(arajin makardaki divery miangamic wor mejna) */
/* body > div {

} */
/* .container + div (konteineri harevan nerqevi divin kpni KPAC divina kpnum) */
/* .container + div {
    width: 50px;
    height: 50px;
    background-color:red;
} */

/* nerqevi bolor ira makardaki p-ery */
.myDiv ~ p {
  color: red;
}
.item1 {
  min-width: 50px;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1 {
  width: 100px;
  height: 400px;
  border: 1px solid black;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-wrap {
  height:50px;
  min-width: 200px;
  background-color: red;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-wrap {
    display: flex;
    flex-flow: row wrap; 

}
/* flex-direction(ete column enq tali justify-content-y darnuma uxxahayac align-items-y horizonakan) */
