* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
      width: 100vw;
      height: 100vh;
      display: grid;
      place-content: center;
      background-color: black;
  }
  .container {
      width: 600px;
      height: 360px;
      background-color: rgb(174, 179, 165);
      position: relative;
  }
  
  .box1{
      background-color:rgb(106, 224, 59) ;
      border: 8px solid rgb(105, 99, 99) ;
      height: 100px;
      width: 100px;
      border-radius: 15px;
      z-index: 4;
      position: relative;
      top: 83px;
      left: 20px;
      box-shadow: 0px 11px 8px #0000008c;
  }
  .box2{
      background-color:rgb(255, 178, 36) ;
      border: 14px solid rgb(105, 99, 99) ;
      height: 180px;
      width: 180px;
      border-radius: 22px;
      z-index: 3;
      position: relative;
      bottom: 55px;
    left: 68px;
    box-shadow: 0px 11px 8px #0000008c;
}
  
  .box3{
      background-color: rgb(8, 107, 139);
      border: 10px solid rgb(105, 99, 99) ;
      height: 100px;
    width: 100px;
      border-radius: 15px;
      z-index: 2;
      position: relative;
      left: 202px;
    bottom: 124px;
    box-shadow: 0px 11px 8px #0000008c;

  }
  .box4{
      background-color:rgb(162, 255, 162) ;
      border: 8px solid rgb(105, 99, 99) ;
      height: 80px;
      width: 80px;
      border-radius: 15px;
      position: absolute;
      bottom: 50px;
      bottom: 25px;
    left: 77px;
    box-shadow: 0px 11px 8px #0000008c;

  }
